[submodule "extra-libs/galois"]
	path = extra-libs/galois
	url = ../cortx-motr-galois
	ignore = untracked
[submodule "cortx-s3server"]
	path = cortx-s3server
	url = https://github.com/yanqingfu/cortx-s3server
